@font-face {
    font-family: 'Inter-Medium';
    src: url('./fonts/Inter-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  .ellipse {
      position: absolute;
      width: 322px;
      height: 322px;
      left: 10px;
      top: 24px;
      background: #305DFF;
      filter: blur(200px);
      animation: fadeIn 3s ease forwards;
  }
  
  .ellipse1 {
      position: absolute;
      width: 322px;
      height: 322px;
      left: 1300px;
      top: 600px;
      background: #C343FF;
      filter: blur(200px);
      animation: fadeIn 5s ease forwards;
  }
  
  .main-heading {
      margin-top: 10px;
      text-align: center; /* Center-align text */
      width: 100%; /* Make sure it takes the full width */
  }
  
  .main-heading-text {
    margin-top: 50px;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(45deg, #dd3ac2, #56219b);
  }

  button:hover {
    background: linear-gradient(45deg, #90107b, #56219b);
}

  .neo4j {
    margin-top: 20px;
  }

  .api {
    margin-top: 50px;
  }

  .web {
    margin-bottom: 20px;
  }